html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    padding: 10px 10px;
    display: flex;
    background-color: green;
    color: white;
}

main{
    display: flex;
    flex: 1 0 auto;
    height: 100%;
}

aside {
    background-color: lightgray;
    width: 240px;
    padding-left: 10px;
    padding-top: 1px;
    margin-bottom: 10px;
    margin-top: 10px;
}

@media screen and (max-width: 520px){
    aside {
        display: none;
    }
}

hgroup {
    margin: 20px;
}

section {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

ul {
    padding-left: 10px;
}

li {
    list-style: none;
    padding-bottom: 10px;
}

article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.article__urls {
    display: flex;
    flex-direction: column;
    margin: 10px;
    flex-grow: 1;
    padding: 40px 10px;
    background-color: lightgray;
}

.popular-items {
    flex-basis: 100%;
    padding-left: 10px;
}


.popular-items__item {
    display: flex;
    background-color: lightgray;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 0 0 ;
    flex-basis: calc(33.33% - 20px*2);
}

.img {
    height: 60px;
    width: 60px;
    background-color: gray;
    margin-right: 10px;
}

.button_area{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.button {
    height: 20px;
}

footer {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: lightgray;
    padding: 20px 10px;
    flex: 0 0 auto;
}
